* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans";
}
.App {
  display: flex;
  justify-content: space-around;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 30px;
  width: 400px;
  border: 1px solid grey;
  margin-bottom: 40px;
}
form input {
  width: 95%;
  padding: 10px 18px;
  border-radius: 10px;
  margin: 15px auto;
  border: 1px solid grey;
}
form h2 {
  text-align: center;
}
form button {
  width: 95%;
  padding: 10px 18px;
  border-radius: 10px;
  margin: 15px auto;
  border: 1px solid grey;
}
form button:hover {
  cursor: pointer;
  background-color: grey;
}
