.home {
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
}
.d-flex {
  display: flex !important;
}
.justify-content-center {
  justify-content: center !important;
}
.align-items-center {
  align-items: center !important;
}
.h-100 {
  height: 100vh;
}
.signup {
  background-color: #99ddff;
}
.signup > div {
  width: 600px;
}
.signup input {
  padding: 12px 10px;
  border-bottom: 1px solid #bdbdbd;
  width: 100%;
}
.signup input:focus {
  outline: none;
}
